<div class = "page-header"><h2>All Customers</h2></div>
<table id="customerList">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Location</th>
      <th>User</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
    <% if current_user.id == customer.managed_by || current_user.role.name == "Sales Manager" %>
      <tr>
        <td><%= link_to customer.try(:fullname), customer %></td>
        <td><%= customer.try(:email) %></td>
        <td><%= customer.try(:phone) %></td>
        <td><%= customer.try(:location) %></td>
        <td><%= customer.user.try(:fullname) %></td>
        <td><% if can? :update, customer %>
              <%= link_to edit_customer_path(customer.id) do %>
                <i class = "glyphicon glyphicon-pencil"></i>
              <% end %>
            <%end%>
            <% if can? :destroy, customer %>
              <%= link_to  customer, method: :delete, data: { confirm: 'Are you sure?' } do  %>
                <i class = "glyphicon glyphicon-trash"></i>
              <% end %>
            <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
