<table border = 1>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Location</th>
      <th>User</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
    <% if user_signed_in? && current_user.id == customer.managed_by %>
      <tr>
        <td><%= link_to customer.fullname, customer %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.location %></td>
        <td><%= customer.user.fullname %></td>
        <% if user_signed_in? %>
          <% if (can? :update, customer)%>
            <td><%= link_to 'Edit', edit_customer_path(customer) %>
          <% end %>
          <% if (can? :destroy, customer) %>
            <%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
