<h1>Listing Stages</h1>

<table border = 1>
  <thead>
    <tr>
      <th>Name</th>
      <th>Intrest level</th>
      <th>Action</th>
      <th>id</th>
    </tr>
  </thead>

  <tbody>
    <% @stages.each do |stage| %>
      <tr>
        <td><%= link_to stage.name, stage%></td>
        <td><%= stage.intrest_level %></td>
        <% if user_signed_in? %>
          <% if (can? :update, stage) %>
            <td><%= link_to 'Edit', edit_stage_path(stage) %>
          <% end %>
          <% if can? :destroy, stage%>
            <%= link_to 'Destroy', stage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %> 
        <% end %>
        <td><%= stage.id%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

