<table border = 1>
  <thead>
    <tr>
      <th>Associator</th>
      <th>Fullname</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Location</th>
      <th>Stage</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @prospects.each do |prospect| %>
      <% if user_signed_in? && current_user.id == prospect.managed_by %>
      <tr>
        <td><%= link_to prospect.user.fullname, prospect %></td>
        <td><%= prospect.fullname %></td>
        <td><%= prospect.email %></td>
        <td><%= prospect.phone %></td>
        <td><%= prospect.location %></td>
        <td><%= prospect.stage.name %></td>
        <td>
        <% if user_signed_in? %>
          <% if (can? :update, prospect)%>
            <%= link_to 'Edit', edit_prospect_path(prospect) %>
          <% end %>
          <% if (can? :destroy, prospect) %>
            <%= link_to 'Destroy', prospect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<% if user_signed_in?  && (can? :create, Prospect.new) %>
  <%= link_to 'New Prospect', new_prospect_path %>
<% end %>