<% if user_signed_in? %>
  <div class="page-header">
    <h2>All Prospects</h2>
  </div>
  <table  id = "datalist">
    <thead>
      <tr>
        <th>Associator</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Stage</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @prospects.each do |prospect| %>
        <% if current_user.id == prospect.managed_by || current_user.role.name == "Sales Manager" %>
        <tr>
          <td><%= link_to prospect.user.try(:fullname), prospect %></td>
          <td><%= prospect.try(:fullname) %></td>
          <td><%= prospect.try(:email) %></td>
          <td><%= prospect.try(:phone) %></td>
          <td><%= prospect.stage.try(:name) %></td>
          <td><% if can? :update, prospect %>
                <%= link_to edit_prospect_path(prospect.id) do %>
                  <i class = "glyphicon glyphicon-pencil"></i>
                <% end %>
              <%end%>
              <% if can? :destroy, prospect %>
                <%= link_to  prospect, method: :delete, data: { confirm: 'Are you sure?' } do  %>
                  <i class = "glyphicon glyphicon-trash"></i>
                <% end %>
              <% end %>
          </td>
        </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
<% end %>
 <style>
  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  </style>
<% if user_signed_in? %>
  <button type="button" class="btn btn-info btn-lg" id="myBtn">Add Prospect</button>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="padding:15px 20px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4</span> Please Fill The Below Details</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          
          <%= render 'form' %>
        
        </div>
      </div>      
    </div>
  </div> 
<% end %>
<script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});
</script>
